.ink-navbar {
  padding: 0.5rem 1rem;
  background-color: #111;
  color: #fdfaf5;
  font-family: "EB Garamond", sans-serif;
  display: flex;
  align-items: center;
}

.ink-navbar-title {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "EB Garamond", sans-serif;
}

.ink-footer {
  text-align: center;
}
